
@use "font";
@use "var" as *;
@use "normilize";


body {
    min-width: 320px;
    font-family: $font;
    font-weight: 400;
    background-color: $body-back;
}


*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

p, h1, h2, h3, figure, figcaption {
    margin: 0;
    padding: 0;
}


.wrapper {
    width: 100vw;
}

.container {
    max-width: 95.31vw;
    margin: 0 auto;
    
}


.header {
    &__wrapper {
        background-image: url("../images/header_background.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 1.85vh;
        padding-bottom: 4.07vh;
    }
    &__link {
        position: relative;
        color: $light;
    }
    &__logo {
        color: $light;
        font-size: 1.85vh;
    }

    &__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;              // ← ширина линии
        height: 1px;
        background-color: $light;  // ← белый цвет
    }

}
